@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    .site-header{
	padding: 30px 0;
    }
    .mobile{
	display: none;
    }
    .card-status{
	.card-body{
	    display: flex;
	    flex-direction: column;
	}
	.heading{
	    order: 1;
	}
	.filters{
	    order: 2;
	}
	.time-scale{
	    order: 3;
	}
	.chart-wrp{
	    order: 4;
	}
    }
}
@include media-breakpoint-up(lg) {
    .site-header{
	padding: 60px 0;
    }
    .card{
	margin: 0 0 30px 0;
    }
    .card-body{
	padding: 30px 50px;
    }
}
@include media-breakpoint-down(sm) {
    .h1, h1 {
	font-size: 1.6rem;
    }
    .h2, h2 {
	font-size: 1.5rem;
    }
    .desktop{
	display: none;
    }
    .filters{
	margin-top: 1rem;
	.list-group .list-group-item{
	    padding: 5px;
	}
    }
    .page-title{
	display: none;
    }
    .card-status{
	.card-body {
	    padding: .25rem;
	}
    }
}