<% var data = {
title: "Washington State Coronavirus Status"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <h1>Washington State Coronavirus Status</h1>

    <div class="card">
	<div class="card-body">
	    This is some text within a card body.
	</div>
    </div>
    
    <div class="recent-updates">
	<h2 class="mb-lg-3">Recent Updates</h2>
	<div class="date mb-lg-3">March 17, 2020</div>
	<article class="post mb-lg-4">
	    <h3>Jared Leto was on a retreat and missed the coronavirus news</h3>
	    <p>Jared Leto being on a silent meditation retreat and totally missing out on the coronavirus pandemic news feels very Jared Leto.</p>
	    <p><a href="#">Read more</a></p>
	</article>
	<article class="post mb-lg-4">
	    <h3>Markets Hit New Lows Again Despite Planned Fed Intervention</h3>
	    <p>After attempting a strong rebound on Friday, where equities climbed nearly 10%, markets gave back all those gains and more, to fall below the lows of Friday after the Federal Reserve initiated a massive monetary stimulus campaign...</p>
	    <p><a href="#">Read more</a></p>
	</article>
	<div class="date mb-lg-3">March 16, 2020</div>
	<article class="post mb-lg-4">
	    <h3>Jared Leto was on a retreat and missed the coronavirus news</h3>
	    <p>Jared Leto being on a silent meditation retreat and totally missing out on the coronavirus pandemic news feels very Jared Leto.</p>
	    <p><a href="#">Read more</a></p>
	</article>
	<article class="post mb-lg-4">
	    <h3>Markets Hit New Lows Again Despite Planned Fed Intervention</h3>
	    <p>After attempting a strong rebound on Friday, where equities climbed nearly 10%, markets gave back all those gains and more, to fall below the lows of Friday after the Federal Reserve initiated a massive monetary stimulus campaign...</p>
	    <p><a href="#">Read more</a></p>
	</article>
	<div class="date mb-lg-3">March 15, 2020</div>
	<article class="post mb-lg-4">
	    <h3>Jared Leto was on a retreat and missed the coronavirus news</h3>
	    <p>Jared Leto being on a silent meditation retreat and totally missing out on the coronavirus pandemic news feels very Jared Leto.</p>
	    <p><a href="#">Read more</a></p>
	</article>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>