<% var data = {
title: "Washington State Coronavirus Status",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <h1 class="page-title mb-lg-4">Washington State Coronavirus Status</h1>
    <div class="row">
	<div class="col-md-9">
	    <div class="card card-status">
		<div class="card-body">
		    <div class="dropdown heading">
			<h2>Amount of confirmed</h2>
			<a href="#" class="h2 dropdown-toggle" id="amount-confirmed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">infected</a>
			<div class="dropdown-menu" aria-labelledby="amount-confirmed">
			    <button class="dropdown-item" type="button">infected</button>
			    <div class="dropdown-divider"></div>
			    <button class="dropdown-item" type="button">Deaths</button>
			</div>
		    </div>
		    <div class="list-group list-group-horizontal time-scale">
			<button type="button" class="list-group-item list-group-item-action active">1 <span class="desktop">week</span><span class="mobile">w</span></button>
			<button type="button" class="list-group-item list-group-item-action">2 <span class="desktop">week</span><span class="mobile">w</span></button>
			<button type="button" class="list-group-item list-group-item-action">3 <span class="desktop">week</span><span class="mobile">w</span></button>
			<button type="button" class="list-group-item list-group-item-action">1 <span class="desktop">month</span><span class="mobile">m</span></button>
			<button type="button" class="list-group-item list-group-item-action">2 <span class="desktop">month</span><span class="mobile">m</span></button>
			<button type="button" class="list-group-item list-group-item-action">3 <span class="desktop">month</span><span class="mobile">m</span></button>
		    </div>
		    <div class="chart-wrp">
			<canvas id="chartStatus" height="350"></canvas>
		    </div>
		    <div class="filters">
			<form>
			    <div class="form-row align-items-center">
				<div class="col-auto">
				    <div class="form-group">
					<label for="selectCounty">County:</label>
					<select id="selectCounty" class="form-control">
					    <option selected>All Counties</option>
					    <option>Adams County</option>
					    <option>Asotin County</option>
					    <option>Benton County</option>
					    <option>Chelan County</option>
					    <option>Clallam County</option>
					    <option>Clark County</option>
					    <option>Columbia County</option>
					    <option>Cowlitz County</option>
					    <option>Douglas County</option>
					    <option>Ferry County</option>
					    <option>Franklin County</option>
					    <option>Garfield County</option>
					    <option>Grant County</option>
					    <option>Grays Harbor County</option>
					    <option>Island County</option>
					    <option>Jefferson County</option>
					    <option>King County</option>
					    <option>Kitsap County</option>
					    <option>Kittitas County</option>
					    <option>Klickitat County</option>
					    <option>Lewis County</option>
					    <option>Lincoln County</option>
					    <option>Mason County</option>
					    <option>Okanogan County</option>
					    <option>Pacific County</option>
					    <option>Pend Oreille County</option>
					    <option>Pierce County</option>
					    <option>San Juan County</option>
					    <option>Skagit County</option>
					    <option>Skamania County</option>
					    <option>Snohomish County</option>
					    <option>Spokane County</option>
					    <option>Stevens County</option>
					    <option>Thurston County</option>
					    <option>Wahkiakum County</option>
					    <option>Walla Walla County</option>
					    <option>Whatcom County</option>
					    <option>Whitman County</option>
					    <option>Yakima County</option>
					</select>
				    </div>
				</div>
				<div class="col-auto">
				    <div class="form-group">
					<label for="selectAge">Age:</label>
					<select id="selectAge" class="form-control">
					    <option selected>18-24</option>
					    <option>24-30</option>
					    <option>30-40</option>
					    <option>40-50</option>
					    <option>50-60</option>
					    <option>60-70</option>
					    <option>70+</option>
					</select>
				    </div>
				</div>
				<div class="col-auto">
				    <div class="form-group">
					<label for="selectSex">Sex:</label>
					<select id="selectSex" class="form-control">
					    <option selected>Women</option>
					    <option>Men</option>
					</select>
				    </div>
				</div>
			    </div>
			</form>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-3">
	    <button class="btn btn-primary mobile mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Subscribe
	    </button>
	    <div class="collapse dont-collapse-sm" id="collapseExample">
		<div class="subscribe">
		    <div class="heading">
			<h3>Subscribe</h3>
			<p>And get latest updates</p>
		    </div>
		    <div class="form-group mb-0">
			<input class="form-control form-control-lg" type="Email" placeholder="Email">
		    </div>
		    <div class="separate"><span>or/and</span></div>
		    <div class="form-group">
			<input class="form-control form-control-lg" type="text" placeholder="Phone">
		    </div>
		    <button type="submit" class="btn btn-block btn-lg btn-primary" disabled data-toggle="modal" data-target=".modal-thank">Subscribe</button>
		</div>
	    </div>
	</div>
    </div>
    <%= _.template(require('./../includes/recent-updates.html').default)(data) %>
</div>
<%= _.template(require('./../includes/modal.html').default)(data) %>
<%= _.template(require('./../includes/footer.html').default)(data) %>